body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.container {
    width: 300px;
    margin: 60px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    background: #008cff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #006fd1;
}

#resultado {
    font-weight: bold;
    margin-top: 15px;
}

